body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}


#barranavegacio ul {
    display: flex;
    align-items: center;
    background-color: rgb(236, 236, 236);
    list-style: none;
    height: 70px;
    width:auto;
    margin: 0px;
    justify-content: center;
    border-radius: 100px;
    margin: 15px;
}

#barranavegacio li {
    display: block;
    text-decoration: none;
    padding: 10px;
    margin: 20px;
}

#barranavegacio a {
    display: block;
    color: black;
    text-decoration:none;
    font-size: large;
    padding: 10px;
}
#barranavegacio a:hover {
    background-color: red;
    color: white;
    width: 5px;
}