body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}


#barranavegacio ul {
    display: flex;
    align-items: center;
    background: green;
    list-style: none;
    height: 50px;
    width:auto;
    margin: 0px;
    justify-content: center;
}

#barranavegacio li {
    padding: 10px;
    margin: 20px;
}

#barranavegacio a {
    color: white;
    text-decoration:none;
    font-size: large;
}
#barranavegacio a:hover {
    color: yellow;
}